<div class="countainer">
  <div class="row">
    <div class="offset-2"></div>
    <div class="col-10">
      <h5 class="d-inline-block my-4 mx-4 px-3" style="background-color:#dcdcdc;">商品新規登録</h5>
    </div>
  </div>
  <div class="row">
    <div class="offset-4">
    <%= form_with model: @item, url: new_admin_item_path do |f| %>
    <table class="row mb-3 d-flex align-items-center">
    <tbody>
      <tr>
        <td><%= f.label :商品画像 %></td>
        <td><%= f.label :image, :class => "btn btn-outline-dark" do %>
              ファイルを選択
              <%= f.file_field :image, :style => "display:none; " %>
            <% end %></td>
      </tr>
      <tr>
        <td><%= f.label :商品名 %></td>
        <td><%= f.text_field :name, autocomplete: "name", placeholder: "商品名", :size => "40" %></td>
      </tr>
      <tr>
        <td class="align-top"><%= f.label :商品説明 %></td>
        <td><%= f.text_area :introduction, autocomplete: "introduction", placeholder: "ここに説明文を記述します", :size => "39*40" %></td>
      </tr>
      <tr>
        <td><%= f.label :ジャンル %></td>
        <!--<td>< f.collection_select :genre_id, @genres, :id, :name, include_blank: "選択してください" %></td>-->
      </tr>
      <tr>
        <td><%= f.label :税抜価格 %></td>
        <td><%= f.text_field :price, autocomplete: "price", placeholder: "1000" %>円</td>
      </tr>
      <tr>
        <td><%= f.label :販売ステータス %></td>
        <td>
          <%= f.radio_button :is_active, :true %>
          <%= f.label :is_active, "販売中", :class => "border-bottom" %>
          <%= f.radio_button :is_active, :false %>
          <%= f.label :is_active, "販売停止中", :class => "border-bottom" %>
        </td>
      </tr>
      <tr>
        <td colspan="2", class="text-center"><%= f.submit '変更を保存', :class => "btn btn-success btn-lg" %></td>
      </tr>
    </tbody>
    </table>
    <% end %>
  </div>
  </div>
</div>
