<div class="countainer">
  <div class="row">
    <div class="offset-2"></div>
    <div class="col-10">
      <h5 class="d-inline-block my-4 mx-4 px-3" style="background-color:#dcdcdc;">商品詳細</h5>
    </div>
  </div>
  <div class="row">
    <div class="offset-1"></div>
    <div class="col-3">
    <% if item.image.attached? %>
      <%= image_tag item.get_image(300,200) %>
    <% else %>
      <%= image_tag 'no_image', size: "300x200" %>
    <% end %>
    </div>
    <div class="col-4">

    <table class ="row mb-3 d-flex align-items-center">
    <tbody>
      <tr>
        <td>商品名</td>
        <td><%= @item.name %></td>
      </tr>
      <tr>
        <td class="align-top">商品説明</td>
        <td><%= @item.introduction %></td>
      </tr>
      <tr>
        <td>ジャンル</td>
        <td><%= @item.genre.name %></td>
      </tr>
      <tr>
        <td>税込価格<br><small>(税抜価格)</small></td>
        <td><%= @item.with_tax_price %>(<%= @item.price %>)円</td>
      </tr>
      <tr>
        <td>販売ステータス</td>
        <% if item.is_active == true %>
          <td class="text-success">販売中</td>
        <% else %>
          <td class="text-secondary">販売停止中</td>
        <% end %>
      </tr>
      <tr>
        <td class="text-center"><%= link_to "商品編集", edit_admin_item_path(@item), :class => "btn btn-success btn-lg" %></td>
      </tr>
    </tbody>
    </table>
  </div>
  </div>
</div>
