<div class="countainer">
  <div class="row">
    <div class="offset-2"></div>
    <div class="col-10">
      <h5 class="d-inline-block my-4 mx-4 px-3" style="background-color:#dcdcdc;">注文履歴一覧</h5>
    </div>
  </div>
  <div class ="row">
    <div class="offset-2"></div>
    <div class="col-8">
      <table class ="table">
        <thead class="bg-light">
          <tr>
            <th>購入日時</th>
            <th>購入者</th>
            <th>注文個数</th>
            <th>注文ステータス</th>
          </tr>
        </thead>
        <tbody class="border-bottom">
          <% @orders.each do |order| %>
          <tr>
            <td><%= link_to order.created_at.strftime("%Y/%m/%d %H:%M:%S"), admin_show_order_path(order), :class => "text-dark" %></td>
            <td><%= order.customer.last_name %><%= order.customer.first_name %></td>
            <td><%= order.order_details.sum(:amount) %></td>
            <td><%= order.status_i18n %></td>
           </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="offset-2"></div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <%= paginate @orders %>
    </div>
  </div>
</div>