<div class ="container">
  <div class="row">
    <div class="offset-1 col-10">
      <h5 class="d-inline-block my-4 mx-4 px-3" style="background-color:#dcdcdc;">配送先登録/一覧</h5>
    </div>
  </div>
  <div class ="row">
    <div class="col-12">
      <table class ="table table-borderless">
      <%= form_with model: @address, url: create_address_path, method: :post do |f| %>
        <tr>
          <th class="p-0" style="font-size:14px;">郵便番号（ハイフンなし）</th>
          <td class="p-0 pl-3"><%= f.text_field :post_code, placeholder: "0000000", :size => "30" %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th class="p-0 ml-3" style="font-size:14px;">住所</th>
          <td class="p-1 pl-3"><%= f.text_field :address, placeholder: "東京都渋谷区代々木神園0-0", :size => "50" %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th class="p-0 ml-3" style="font-size:14px;">宛名</th>
          <td class="p-1 pl-3"><%= f.text_field :name, placeholder: "令和道子", :size => "30" %></td>
          <td></td>
          <td><%= f.submit '新規登録', :class => "btn btn-success" %></td>
        </tr>
      </table>
      <% end %>
      <table class="table table-bordered">
        <tr class="table-active bg-light">
          <th>郵便番号</th>
          <th>住所</th>
          <th>宛名</th>
          <td></td>
        </tr>
        <% @addresses.each do |address| %>
        <tr>
          <td><%= address.post_code %></td>
          <td><%= address.address %></td>
          <td><%= address.name %></td>
          <td><%= link_to '編集する', edit_address_path(address.id), :class => "btn btn-success" %> <%= link_to '削除する', destroy_address_path(address.id), method: :delete, :class => "btn btn-danger", data: { confirm: "本当に削除しますか？" } %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

