<div class ="container">
  <div class ="row mt-5">
    <div class="col-2 h-75">
      <div class="border border-dark ">
        <p class="my-1 text-center"> ジャンル検索</p>
      </div>
      <div class="border border-dark border-top-0 pt-2 pl-2">
        <p>ケーキ</p>
        <p>焼き菓子</p>
        <p>プリン</p>
        <p>キャンディ</p>
      </div>
    </div>
    <div class ="col-10">
      <h3 class ="font-weight-bold">商品一覧<small>(全<%= Item.count %>件)</small></h3>
        <div class ="mt-4 d-flex flex-wrap">
          <% @items.each do |item| %>
          <div class ="mr-2 mb-4">
            <%= link_to show_item_path(item.id) do %>
              <% if item.image.attached? %>
                <%= image_tag item.get_image(180,130) %>
              <% else %>
                <%= image_tag 'no_image', size: "180x130" %>
              <% end %><br>
              <p class ="text-dark mb-0 mt-1"><%= item.name %></p>
              <p class ="font-weight-bold text-dark mt-0">¥<%= item.price.to_s(:delimited) %></p>
            <% end %>
          </div>
          <% end %>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <%= paginate @orders %>
    </div>
  </div>
</div>